@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Amatic+SC:wght@700&display=swap');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  background-color: #FFD6FF;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  text-align: center;
  font-size: 6rem;
}

.intro-text,
.joke-section,
textarea {
  background-color: #FADDE1;
  border: 2px solid black;
}

.intro-text,
textarea,
button,
.popped {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.intro-text {
  margin: 0 calc((100% - 500px) / 2);
  height: 450px;
  width: 500px;
  padding: 35px;
}

.joke-section {
  border-radius: 50%;
  padding-top: 10%;
}

.joke-section p {
  word-wrap: break-word;
}

.ball,
.joke-section {
  text-align: center;
  height: 500px;
  width: 500px;
  margin: 20px calc((100% - 500px) / 2);
}

form {
  height: 200px;
  width: 35vw;
  margin: 150px calc((100% - 35vw) / 2);
  text-align: center;
}

textarea {
  margin: 10px calc((100% - 400px) / 2);
  border: 2px solid black;
  height: 150px;
  width: 400px;
  resize: none;
  padding: 25px;
  font-family: 'Comfortaa', cursive;
}

.ball {
  border-radius: 50%;
  background-color: #999695;
}

.ball p {
  padding-top: 170px;
  text-align: center;
  overflow: hidden;
  max-width: 400px;
  word-wrap: break-word;
  padding-left: 80px;
}

.popped {
  background-color: #E9F5DB;
  height: 800px;
  width: 800px;
  margin: 20px calc((100% - 800px) / 2);
}

.popped p {
  padding-top: 100px;
  text-align: center;
}

h2,
h3 {
  text-align: center;
  font-size: 3rem;
  padding-top: 100px;
}

button {
  background-color: #FFCDB2;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  font-family: 'Comfortaa', cursive;
}

form button {
  margin-top: 10px;
}

.resetButton {
  margin: auto 40%;
}

footer {
  padding: 2px 0;
  text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .joke-section {
    padding: 175px 20px 0 20px;
  }
}

@media (max-width: 550px) {
  .intro-text,
  .ball,
  .joke-section,
  .popped,
  textarea {
    width: 355px
  }
  
  .intro-text {
    height: 520px;
    margin: 0 calc((100% - 355px) / 2);
  }

  .ball,
  .joke-section,
  .popped {
    height: 350px;
    margin: 20px calc((100% - 355px) / 2);
  }

  .ball p {
    padding: 120px 20px 0 20px;
  }

  form {
    margin-top: 20px;
  }

  .resetButton {
    margin: auto 20%;
  }

  .joke-section {
    padding: 50px 40px 0 40px;
  }

  h2,
  h3 {
    font-size: 1rem;
    padding-top: 40px;
  }

  .popped p {
    padding-top: 10px;
  }

  button {
    padding: 5px;
  }
}




